<%= render 'linked/user', user: @user%>
<ul>
<% if @user.post.empty? %>
  <p class='no-posts'>No posts</p>
<% else %>
<% @user.post.each do |post|%>
<li>
  <%= render 'linked/post', post: post %>
  <%= render 'linked/comment', comments: post.best_five_comments%>
</li>
<%end%>
<%end%>
</ul>
<div class="pagination"></div>